.content {
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.content__form {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: auto;
  padding-bottom: 20px;
}

.content__form::-webkit-scrollbar {
  height: 29px;
}

.content__form::-webkit-scrollbar-track {
  height: 29px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
}

.content__form::-webkit-scrollbar-thumb {
  height: 29px;
  background-color: rgba(51, 75, 201, 0.78);
  border-radius: 100px;
}

.content__header {
  width: max-content;
  height: 43px;
  display: flex;
  background-color: rgba(201, 213, 243, 0.36);
  border-radius: 5px;
  margin-bottom: 7px;
}

.content__header-block {
  width: 105px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0 10px;
}

.content__header-block_title {
  width: 170px;
}

.content__header-block_day {
  gap: 6px;
  border-left: 1px solid rgba(0, 0, 0, 0.07);
}

.content__header-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  user-select: none;
}

.content__header-title_position {
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 39, 247, 0.6);
}

.content__header-title_month {
  font-size: 17px;
  line-height: 21px;
  color: rgba(0, 39, 247, 0.6);
}

.content__header-title_day-of-week {
  font-size: 17px;
  line-height: 21px;
  color: rgb(124, 141, 175, 0.6);
}

.content__users {
  width: max-content;
  height: 57px;
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}

.content__users:last-child {
  margin-bottom: 0px;
}

.content__users-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  box-sizing: border-box;
  padding: 0 10px;
}

.content__users-block_title {
  width: 170px;
  gap: 4px;
}

.content__users-block_body {
  position: relative;
  width: 105px;
  padding: 0 6px;
  border-left: 1px solid rgba(0, 0, 0, 0.07);
}

.content__users-title-workdays-block {
  display: flex;
  gap: 3px;
}

.content__users-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

.content__users-title_name {
  font-weight: 500;
  color: #000;
}

.content__users-title_workdays {
  font-weight: normal;
  color: #7c8daf;
}

.content__users-title_number {
  font-weight: normal;
  color: rgba(0, 39, 247, 0.6);
}

.select {
}

.select__current {
  width: 100%;
  height: 29px;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 7px;
  user-select: none;
}

.select__list {
  position: absolute;
  top: 5px;
  left: -3.5px;
  z-index: 1;
  width: 111px;
  display: none;
  flex-direction: column;
  gap: 7px;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  padding: 9px 7px;
  border-radius: 5px;
  box-shadow: 0px 3px 8px rgb(0 0 0 / 15%);
}

.select__list_show {
  display: flex;
}

.select__item {
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 6px;
  user-select: none;
}

.select__item_current {
  width: 100%;
}

.select__item_empty {
  background-color: #bfbfbf;
}

.select__item_red {
  background-color: #f54665;
  color: #fff;
}

.select__item_yellow {
  background-color: #f8ff03;
  color: #000;
}

.select__item_purple {
  background-color: #9604f4;
  color: #fff;
}

.select__item_blue {
  background-color: #34b5ff;
  color: #fff;
}

.select__item_green {
  background-color: #49ef90;
  color: #fff;
}
