@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);

@import url(./blocks/header.css);
@import url(./blocks/content.css);
@import url(./blocks/popup.css);

.page {
  position: relative;
  height: calc(100vh - 62px);
  background-color: #f1f2fa;
  font-family: sans-serif;
}